<div class="wrapper">
	<div class="container">
		<h1>Welcome</h1>
		
		<form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
			<input type="text" placeholder="Username" formControlName="username">
			<input type="password" placeholder="Password" formControlName="password">
			<button type="submit" id="login-button">Login</button>
		</form>
	</div>
	
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>