<div class="header">
    <h2 class="header-name">Tanks</h2>
    <div class="add">
        <a routerLink="/tanks-add">
            <button class="myButton">
                Add New Tank
            </button>
        </a>
    </div>
</div>
<div class="body">
    <div class="col-lg-4 col-sm-12 table-tanks-div">
        <h1>Tanks</h1>
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 100px;" scope="col">Name</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Info</th>
                    <td>
                        <div class="edit">
                            <a routerLink="/tanks-fill">
                                <button class="myTanksButton">
                                    Fill Tank
                                </button>
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Info</th>
                    <td>
                        <div class="edit">
                            <a routerLink="/tanks-fill">
                                <button class="myTanksButton">
                                   Fill Tank
                                </button>
                            </a>
                        </div>
                    </td>

                </tr>
                <tr>
                    <th scope="row">Info</th>
                    <td>
                        <div class="edit">
                            <a routerLink="/tanks-fill">
                                <button class="myTanksButton">
                                   Fill Tank
                                </button>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>