<div class="header">
    <h2 class="header-name">Add device</h2>
    <div class="back">
        <a routerLink="/devices">
            <button class="myButton">
                Back
            </button>
        </a>
    </div>
</div>
<div class="body">
    <div class="col-lg-4 col-sm-12 table-div">
        <h1>Device Details</h1>
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 100px;" scope="col">Name</th>
                    <th scope="col">Note</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Info</th>
                    <td>info</td>
                    <td>
                        <div class="edit">
                            <a routerLink="/devices-edit">
                                <button class="myWasteButton">
                                    Edit
                                </button>
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Info</th>
                    <td>Info</td>
                    <td>
                        <div class="edit">
                            <a routerLink="/devices-edit">
                                <button class="myWasteButton">
                                    Edit
                                </button>
                            </a>
                        </div>
                    </td>

                </tr>
                <tr>
                    <th scope="row">Info</th>
                    <td>Info</td>
                    <td>
                        <div class="edit">
                            <a routerLink="/devices-edit">
                                <button class="myWasteButton">
                                    Edit
                                </button>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-4 col-sm-12 table-tanks-div">
        <h1>Tanks</h1>
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 100px;" scope="col">Name</th>
                    <th scope="col">Note</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Info</th>
                    <td>
                        <div class="add">
                            <a routerLink="/devices-waste">
                                <button class="myWasteButton">
                                    Add Waste
                                </button>
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Info</th>
                    <td>
                        <div class="add">
                            <a routerLink="/devices-waste">
                                <button class="myWasteButton">
                                    Add Waste
                                </button>
                            </a>
                        </div>
                    </td>

                </tr>
                <tr>
                    <th scope="row">Info</th>
                    <td>
                        <div class="add">
                            <a routerLink="/devices-waste">
                                <button class="myWasteButton">
                                    Add Waste
                                </button>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>